BasedOnStyle: WebKit

BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterUnion: true
  AfterClass: true
  AfterStruct: true
  AfterFunction: true
  AfterNamespace: true
  AfterExternBlock: true
  AfterControlStatement: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  BeforeCatch: false
  BeforeElse: false
  
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: 'true'
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: 'true'
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: 'false'
Cpp11BracedListStyle: 'false'
DerivePointerAlignment: 'false'
IndentCaseLabels: 'true'
IndentWidth: '4'
IndentWrappedFunctionNames: 'true'
NamespaceIndentation: All
PointerAlignment: Right
SortIncludes: 'false'
SpaceAfterCStyleCast: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'true'
SpacesInContainerLiterals: 'false'
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'true'
Standard: Cpp11
TabWidth: '4'